body {
	font-family: "Helvetica", Veranda, Sans-Serif;
	height:100%;
	width:100%;
	overflow-y: hidden;
}

.outer {
	display: table;
	height: 100%;
	width: 100%;
}

.left {
	display:table-cell;
	width: 250px;
	height: 100%;
	overflow-y: scroll;
}

.right {
	display:table-cell;
	height: 100%;
	vertical-align: top;
	overflow-y: scroll;
}

.left table {
	height:100%;
	width: 100%;
}