.html, .body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: Arial, helvetica, verdana, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.lastRead {
	font-size: 80%;
}

.page {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:60px;
    margin-bottom:20px;
    padding-left: 0px;
}

.bottom {
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.page-row {
	overflow-y: hidden;
	height: 100%;
}

.chapterListWrapper {
	height: 100%;
	overflow-y: scroll;
}

.availableBooks {
	height: 100%;
	overflow-y: scroll;
}
